@import "../src/com/com.scss";
$font-size: 16px;
$font-family: '굴림';
.index {
    font-family: $font-family;
    font-size: $font-size;
    color: #fff;
    display: flex;
    flex-direction: column;
    .upper {
        background-color: #343a40;
        height: 80px;
        padding: 5px 100px 20px 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        .wrapper {
            flex: 1;
            max-width: 800px;
            .logo {
                //color: $color5;
                font-family: "logofont";
                display: inline-block;
                font-size: 30px;
                font-weight: bold;
                margin-bottom: 10px;
                cursor: pointer;
            }
        }
    }
    .lower {
        color: $color1;
        padding: 20px 100px;
        display: flex;
        justify-content: center;
        .wrapper {
            flex: 1;
            max-width: 800px;
            .title {
                margin-bottom: 5px;
            }
            .word {
                display: flex;
                align-items: center;
                position: relative;
                textarea {
                    width: 100%; //max-width: 1000px;
                    height: 31px;
                    color: #555;
                    overflow: initial;
                    overflow-y: hidden;
                    font-family: "\AD74\B9BC";
                    font-size: 25px;
                    line-height: initial;
                    margin: initial;
                    margin-right: 0px;
                    padding: 5px 17px 5px 5px;
                    font-family: $font-family;
                    resize: vertical;
                }
                .delete {
                    font-size: 18px;
                    font-weight: bold;
                    position: absolute;
                    /* display: inline; */
                    color: #999;
                    /* top: 144px; */
                    right: 80px;
                    cursor: pointer;
                    width: 0px;
                }
                button {
                    margin-left: 10px;
                    height: 30px;
                    width: 42px;
                    background: none;
                    background-color: #eee;
                    cursor: pointer;
                    border: initial;
                    font-size: small;
                    padding: 1px 7px 2px;
                    font-family: $font-family;
                }
            }
            .resultWrapper {
                margin-top: 20px;
                .title2 {
                    margin-top: 20px;
                }
                .result {
                    margin-top: 20px;
                }
                .history {
                    ul {
                        list-style: none;
                        padding-inline-start: 10px;
                        padding-right: 10px;
                        li {
                            margin: 10px 0px;
                        }
                    }
                }                
            }
        }
    }
}

@include mobile() {
    .index {
        .upper {
            padding: 0px 20px 10px 20px;
            .wrapper {
                .logo {
                    font-size: 25px;
                }
                .slogan {
                    font-size: 14px;
                }
            }
        }
        .lower {
            padding: 20px 20px;
        }
    }
}
